<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Витрина магазина</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body class="bg-light">
1111111<br />
<!--items == null-->
<!--<span th:text="${items==null}"></span>-->
<!--  ************-->
<!--<span th:text="${item==null}"></span>-->
<!--<p th:text="${items}"></p>-->

<hr />
tt ==<span th:text="${tt}"></span>     tt=nunll: <span th:text="${tt==null}"></span> <br />
page==null ==<span th:text="${page==null}"></span><br />
page ==<span th:text="${page}"></span><br />
paging==null ==<span th:text="${paging==null}"></span><br />
paging ==<span th:text="${paging}"></span><br />
<hr />
<hr />
<span th:text="${paging!=null && items!=null }"></span>
<span th:text="${paging.pageSize }"></span>
<br />
<br />
<br />
<h4>
  page  <span th:text="${page}"></span> <br /><br />
  paging  <span th:text="${paging}"></span> <br />
  p NUMBER <span th:text="${paging.getPageNumber()}"></span><br />
  p NUMBER <span th:text="${paging.pageNumber }"></span><br />
   p SIZE <span th:text="${paging.pageSize}"></span><br />
       prev <span th:text="${paging.hasPrevious }"></span><br />
    next <span th:text="${paging.hasNext }"></span><br />
    total  <span th:text="${paging.totalPages }"></span><br />
<!--    total  <span th:text="${paging.getTotalPages }"></span><br />-->

</h4>
<h2>

</h2>
<hr />
<!--<div th:each="itemsRow : ${items}">-->
<!--    <span th:text="${'Страница: '+paging.pageNumber}"></span>  &#45;&#45;&#45;&#45;-->
<!-- <h3>-->
<!--     <span th:text="${paging}"></span>  &#45;&#45;&#45;&#45;-->
<!-- </h3>-->

<!--    <div class="col" th:each="item : ${itemsRow}">-->
<!--    <h5>-->
<!--        <span th:text="${item.id}"></span>:-->
<!--        <span th:text="${item.title}"></span><br />-->
<!--        <span th:text="${item.price}"></span>-->

<!--    </h5>-->
<!--        </div>-->


</body>

</html>
